<% if user_signed_in? %>
<div class="page-header brand">
  <h1 class="text-info text-center" style="font-size: 3.8em;">Welcome to Booky!</h1>
  <h3 class="text-center text-muted">check out all the bookmarks in our community!</h3>
  <div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
      <p class="text-info"> Logged in as: <%= current_user.email %> | <%= link_to 'Logout', destroy_user_session_path, :method => :delete, data: { confirm: 'Leaving already?'}, class: "btn btn-sm btn-primary"%></p> 
    </div>
</div>
  </div>
  
<div class="table-responsive">
      
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Url</th>
      <th>Content</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr class="well text-muted">
        <td><%= bookmark.title %></td>
        <td><%= bookmark.url %></td>
        <td><%= bookmark.content %></td>
        <td><%= link_to 'Show', bookmark, class: "btn btn-sm btn-info" %></td>
        <td><%= link_to 'Edit', edit_bookmark_path(bookmark), class: "btn btn-sm btn-warning" %></td>
        <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<% redirect_to new_user_session_path %>
<% end %>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center">
    <%= link_to 'New Bookmark', new_bookmark_path, class: "btn btn-primary" %>
    <%= link_to 'View Booky Users', users_path, class: "btn btn-warning" %>
  </div>
</div>


